{%extends "base.html"%}
{% load static %}
{% block content %}
<section>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <!-- cliente viene de mi vista, context_object_name -->
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellido}}</td>
                        <td>{{cliente.correo}}</td>
                        <td>{{cliente.telefono_celular}}</td>
                        <td>{{cliente.direccion}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</section>
{% endblock content %}